USE [master]
GO
/****** Object:  Database [ASSOCSPORTIVE]    Script Date: 26/11/2020 09:51:32 ******/
CREATE DATABASE [ASSOCSPORTIVE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASSOCSPORTIVE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\ASSOCSPORTIVE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASSOCSPORTIVE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\ASSOCSPORTIVE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASSOCSPORTIVE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASSOCSPORTIVE]
GO
/****** Object:  Table [dbo].[ADHERENT]    Script Date: 26/11/2020 09:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADHERENT](
	[id_adherent] [int] IDENTITY(1,1) NOT NULL,
	[nom_adherent] [varchar](255) NULL,
	[prenom_adherent] [varchar](255) NULL,
	[ddn_adherent] [date] NULL,
	[sexe_adherent] [char](1) NULL,
	[email_adherent] [varchar](255) NULL,
	[numtel_adherent] [int] NULL,
	[date_maj_adherent] [datetime] NULL,
	[numparent_adherent] [int] NULL,
	[autoprelev_eleve] [char](1) NULL,
	[login_adherent] [varchar](255) NULL,
	[mdp_adherent] [varchar](255) NULL,
	[archive_adherent] [char](1) NULL,
	[id_user] [int] NOT NULL,
	[id_classe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adherent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUDGET]    Script Date: 26/11/2020 09:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUDGET](
	[id_budget] [int] IDENTITY(1,1) NOT NULL,
	[lbl_budget] [varchar](255) NOT NULL,
	[montantInitial_budget] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_budget] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSE]    Script Date: 26/11/2020 09:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSE](
	[id_classe] [int] IDENTITY(1,1) NOT NULL,
	[lbl_classe] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_classe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENEMENT]    Script Date: 26/11/2020 09:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENEMENT](
	[id_event] [int] IDENTITY(1,1) NOT NULL,
	[lbl_event] [varchar](255) NOT NULL,
	[date_event] [date] NOT NULL,
	[lieu_event] [varchar](255) NOT NULL,
	[cout_event] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLUX]    Script Date: 26/11/2020 09:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLUX](
	[id_flux] [int] IDENTITY(1,1) NOT NULL,
	[montant_flux] [int] NULL,
	[date_flux] [date] NULL,
	[id_adherent] [int] NOT NULL,
	[id_type_flux] [int] NOT NULL,
	[id_event] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_flux] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_FLUX]    Script Date: 26/11/2020 09:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_FLUX](
	[id_type_flux] [int] IDENTITY(1,1) NOT NULL,
	[lbl_type_flux] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_type_flux] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 26/11/2020 09:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[login_user] [varchar](255) NOT NULL,
	[mdp_user] [varchar](255) NOT NULL,
	[droit_user] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADHERENT]  WITH CHECK ADD FOREIGN KEY([id_classe])
REFERENCES [dbo].[CLASSE] ([id_classe])
GO
ALTER TABLE [dbo].[ADHERENT]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[UTILISATEUR] ([id_user])
GO
ALTER TABLE [dbo].[FLUX]  WITH CHECK ADD FOREIGN KEY([id_adherent])
REFERENCES [dbo].[ADHERENT] ([id_adherent])
GO
ALTER TABLE [dbo].[FLUX]  WITH CHECK ADD FOREIGN KEY([id_event])
REFERENCES [dbo].[EVENEMENT] ([id_event])
GO
ALTER TABLE [dbo].[FLUX]  WITH CHECK ADD FOREIGN KEY([id_type_flux])
REFERENCES [dbo].[TYPE_FLUX] ([id_type_flux])
GO
USE [master]
GO
